Q1. Create one variable containing following type of data:

In [1]:
s1 = 'pwskills', 'mithilesh', 'sudhanshu'

In [2]:
type(s1)

tuple

In [3]:
s2 = "pwskills"

In [4]:
type(s2)

str

In [5]:
s3 = [1,2,3,4,"pwskills","sudhanshu"]

In [6]:
type(s3)

list

In [7]:
s4 = 4.56

In [8]:
type(s4)

float

Q2. Given some variables containing data tell data type of given variable.

In [9]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1

In [10]:
type(var1)

str

In [11]:
type(var2)

str

In [12]:
type(var3)

list

In [13]:
type(var4)

int

Q3. Explanation of Operators

In [14]:
a = 10
b = 3

(i) Division result # Result will be a float

In [15]:
a / b

3.3333333333333335

(ii) Modulus result # Result will be the remainder

In [16]:
a % b

1

(iii) Floor Division # Result will be the quotient as an integer

In [17]:
a // b

3

(iv) Exponentiation # Result will be a raised to the power of b

In [18]:
a ** b

1000

Q4. Printing List Elements and Data Types 

Create a list of length 10 with multiple data types

In [19]:
mixed_list = [1, 'apple', 3.14, True, [2, 4, 6], {'name': 'Alice'}, (1, 2, 3), None, 5.55, 'banana']

Print elements and their data types using a for loop

In [20]:
for item in mixed_list:
    print(f'Element: {item}, Data Type: {type(item)}')

Element: 1, Data Type: <class 'int'>
Element: apple, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [2, 4, 6], Data Type: <class 'list'>
Element: {'name': 'Alice'}, Data Type: <class 'dict'>
Element: (1, 2, 3), Data Type: <class 'tuple'>
Element: None, Data Type: <class 'NoneType'>
Element: 5.55, Data Type: <class 'float'>
Element: banana, Data Type: <class 'str'>

Q5. Verifying Divisibility Using a While Loop

Define numbers A and B

In [21]:
A = 24
B = 4

Initialize a count for divisibility

In [22]:
divisible_count = 0

Verify divisibility using a while loop

In [23]:
while A % B == 0:
    A /= B
    divisible_count += 1

In [24]:
divisible_count

1

Q6. Checking Divisibility by 3

Create a list of 25 int type data

In [25]:
int_list = list(range(1, 26))

Check divisibility by 3 using for loop and if-else

In [26]:
for num in int_list:
    if num % 3 == 0:
        print(f'{num} is divisible by 3')
    else:
        print(f'{num} is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. Mutable and Immutable Data Types

Mutable data types:
Mutable data types can be modified after creation. Changes made to a mutable object will affect its value without changing its identity.

Example: Lists are mutable.

In [27]:
mutable_list = [1, 2, 3]
print('Before:', mutable_list)
mutable_list.append(4)
print('After:', mutable_list)

Before: [1, 2, 3]
After: [1, 2, 3, 4]

Immutable Data Types:
Immutable data types cannot be modified after creation. Any operation that appears to modify an immutable object actually creates a new object.

Example: Strings are immutable.

In [28]:
immutable_string = 'Hello'
print('Before:', immutable_string)

new_string = immutable_string + ', world!'
print('Original String:', immutable_string)
print('New String:', new_string)

Before: Hello
Original String: Hello
New String: Hello, world!