In [1]:
a=int(input("Enter dataset numer: "))
if a==1:
    df = pd.read_csv("data_set - Sheet1.csv")
elif a==2:
    df = pd.read_csv("data_set - Sheet2.csv")
elif a==3:
    df = pd.read_csv("data_set - Sheet3.csv")
elif a==4:
    df = pd.read_csv("data_set - Sheet4.csv")
elif a==5:
    df = pd.read_csv("data_set - Sheet5.csv")

Enter dataset numer: 2

NameError: name 'pd' is not defined

In [9]:
import pandas as pd

In [10]:
a=int(input("Enter dataset numer: "))
df = pd.read_csv(f"data_set - Sheet{a}.csv")

Enter dataset numer: 1

In [11]:
df.head()

,NAME,Rank,CATEGORY,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10
0,Aiden,0,X1,FDC1,HDE2,HDC1,FDE3,HDC3,FDC2,HDE4,FDC9,FDC7,FDE5
1,Bella,0,X1,FDC9,FDE5,HDE4,HDC3,HDC1,HDE2,FDE3,FDC4,FDC3,FDC8
2,Caleb,0,X1,FDC11,HDE2,FDC10,HDC4,FDE2,HDE4,HDC1,FDE5,FDC5,FDC4
3,Delilah,0,X1,HDE2,FDC9,FDC3,FDE4,HDC1,FDC6,HDC4,FDC10,FDE3,HDE1
4,Ethan,0,X1,HDC2,FDE1,HDE1,HDC1,HDE4,FDC9,FDC7,FDC1,FDE2,FDC6