In [1482]:
sudh = 5 + 8j

In [1483]:
type(sudh)

complex

In [1484]:
sudh.real

5.0

In [1485]:
sudh.imag

8.0

In [1486]:
s="pwskills"

In [1487]:
s[1]

'w'

In [1488]:
s[1:7]

'wskill'

In [1489]:
s[1:8:2]

'wkls'

In [1490]:
s[8:1:-1]

'slliks'

In [1491]:
s1="this is my string class"

In [1492]:
len(s1)

23

In [1493]:
s1.find('s')

3

In [1494]:
s1.find('i')

2

In [1495]:
s1.find("my")

8

In [1496]:
s1.count('s')

5

In [1497]:
s1.count("my")

1

In [1498]:
s1

'this is my string class'

In [1499]:
s1.upper()

'THIS IS MY STRING CLASS'

In [1500]:
s1.capitalize()

'This is my string class'

In [1501]:
s1.title()

'This Is My String Class'

In [1502]:
s

'pwskills'

In [1503]:
s+" sudh"

'pwskills sudh'

In [1504]:
s + str(1)

'pwskills1'

In [1505]:
s*3

'pwskillspwskillspwskills'

commenting in code

In [1506]:
##hello hello testing comment

"""this way can do 
multi-line comments easily"""

'this way can do \nmulti-line comments easily'

In [1507]:
l = [1,345,45,"sudh",True,5+7j,345.456]

In [1508]:
type(l)

list

In [1509]:
l[0]

1

In [1510]:
l[6]

345.456

In [1511]:
l[::-1]

[345.456, (5+7j), True, 'sudh', 45, 345, 1]

In [1512]:
l[3][0:2]

'su'

In [1513]:
l[4]

True

In [1514]:
str(l[4])[0:2]

'Tr'

In [1515]:
l.append(5)

In [1516]:
l.append('pwskills')

In [1517]:
l1=[3,4,5]

In [1518]:
l+l1

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 5, 'pwskills', 3, 4, 5]

In [1519]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 5, 'pwskills']

In [1520]:
len(l)

/home/akshat_gosain/.local/lib/python3.10/site-packages/IPython/core/displayhook.py:281: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

9

In [1521]:
l1 = [3,4,5]

In [1522]:
l1*3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [1523]:
l.append(l1)

In [1524]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 5, 'pwskills', [3, 4, 5]]

In [1525]:
type(l)

list

In [1526]:
type(l1)

list

In [1527]:
l.append(6)

In [1528]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 5, 'pwskills', [3, 4, 5], 6]

In [1529]:
l[-1]

6

In [1530]:
l[-2]

[3, 4, 5]

In [1531]:
l[-2][1]

4

In [1532]:
l.extend(l1)

In [1533]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 [3, 4, 5],
 6,
 3,
 4,
 5]

In [1534]:
l1

[3, 4, 5]

In [1535]:
l1.insert(1,"sudh")
l1

[3, 'sudh', 4, 5]

In [1536]:
l1.insert(2,[2,3,4])
l1

[3, 'sudh', [2, 3, 4], 4, 5]

In [1537]:
l1.insert(-1,45)
l1

[3, 'sudh', [2, 3, 4], 4, 45, 5]

In [1538]:
l1.pop()

5

In [1539]:
l1

[3, 'sudh', [2, 3, 4], 4, 45]

In [1540]:
l1.pop(1)

'sudh'

In [1541]:
l1

[3, [2, 3, 4], 4, 45]

In [1542]:
l1.remove(45)
l1

[3, [2, 3, 4], 4]

In [1543]:
l1[1].remove(3)
l1

[3, [2, 4], 4]

In [1544]:
l1[1].pop()

4

In [1545]:
l1

[3, [2], 4]

In [1546]:
l1[1].insert(1,3)
l1

[3, [2, 3], 4]

In [1547]:
l1[1].insert(2,4)
l1

[3, [2, 3, 4], 4]

In [1548]:
l1

[3, [2, 3, 4], 4]

In [1549]:
l1[::-1]

[4, [2, 3, 4], 3]

In [1550]:
l1

[3, [2, 3, 4], 4]

In [1551]:
l1.reverse()
l1

[4, [2, 3, 4], 3]

In [1552]:
l2 = [10,4,13,6,2,8,9]

In [1553]:
l2.sort()
l2

[2, 4, 6, 8, 9, 10, 13]

In [1554]:
l2.sort(reverse=True)
l2

[13, 10, 9, 8, 6, 4, 2]

In [1555]:
l4=["sudh","kumar","pwskills","data science", "data tech","akshat"]

In [1556]:
l4.sort()
l4

['akshat', 'data science', 'data tech', 'kumar', 'pwskills', 'sudh']

In [1557]:
l4.sort(reverse=True)
l4

['sudh', 'pwskills', 'kumar', 'data tech', 'data science', 'akshat']

In [1558]:
l4.index("data tech")

3

In [1559]:
l4.count("data tech")

1

In [1560]:
l5 = [3,4,5,6,7,8,9]

In [1561]:
l5[0] = 6
l5

[6, 4, 5, 6, 7, 8, 9]

In [1562]:
s2 = "sudh"

In [1563]:
s2[0] = "k"

TypeError: 'str' object does not support item assignment

Strings are immutable

In [ ]:
s2.replace('s','a')

'audh'

Original one still stays same, the replaced one was just a copy for printing

In [ ]:
s2

'sudh'

Tuples now, just immutable like strings

In [ ]:
t=(2,3,4,5,"sudh",False,6+88j,5.43,[3,4,5])

In [ ]:
type(t)

tuple

In [ ]:
len(t)

9

In [ ]:
t[0]

2

In [ ]:
t[0]=5

TypeError: 'tuple' object does not support item assignment

In [ ]:
t.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [ ]:
t.index(5)

3

In [ ]:
t.count(5)

1

In [ ]:
t[::-1]

([3, 4, 5], 5.43, (6+88j), False, 'sudh', 5, 4, 3, 2)

In [ ]:
t

(2, 3, 4, 5, 'sudh', False, (6+88j), 5.43, [3, 4, 5])

Sets

In [ ]:
s1={1,2,3,4,5,6,7,8,9,10}

In [ ]:
type(s1)

set

In [ ]:
s={}

In [ ]:
type(s)

dict

In [ ]:
s3 = {324,456,456,"sudh",45+49j,34.567,[3,4,5]}

TypeError: unhashable type: 'list'

Set doesn't take list inside it but takes tuple, so set only takes immutable type objects

In [ ]:
s3 = {324,456,456,"sudh",45+49j,34.567,(3,4,5)}

In [ ]:
s3

{(3, 4, 5), (45+49j), 324, 34.567, 456, 'sudh'}

In [ ]:
s4={1,1,1,2,3,4,3,2,2,4,5,5,6,2,4,7,7,7,9}
s4

In [ ]:
s4={1,1,1,2,3,4,3,2,2,4,5,5,6,2,4,7,7,7,9,"sudh","sudh","Sudh"}
s4

{1, 2, 3, 4, 5, 6, 7, 9, 'Sudh', 'sudh'}

In [ ]:
l6=[1,1,1,2,3,4,3,2,2,4,5,5,6,2,4,7,7,7,9,"sudh","sudh","Sudh"]

In [ ]:
l6 = set(l6)

In [ ]:
l6

{1, 2, 3, 4, 5, 6, 7, 9, 'Sudh', 'sudh'}

In [ ]:
type(l6)

set

In [ ]:
l6=list(set(l6))

In [ ]:
type(l6)

list

In [1565]:
s5={234,45,23,12,567,45,2,"abc",456,342,234}

In [1566]:
s5

{12, 2, 23, 234, 342, 45, 456, 567, 'abc'}

Set is unordered, means there isn't any indexing in sets, instead sets is based on hashing

In [ ]:
s5[0]

TypeError: 'set' object is not subscriptable

In [ ]:
s5[::-1]

TypeError: 'set' object is not subscriptable

In [1567]:
s5.add(1000)
s5

{1000, 12, 2, 23, 234, 342, 45, 456, 567, 'abc'}

In [1568]:
s5.add(234)
s5

{1000, 12, 2, 23, 234, 342, 45, 456, 567, 'abc'}

In [1569]:
s5.remove(234)
s5

{1000, 12, 2, 23, 342, 45, 456, 567, 'abc'}

Dictionary

In [1571]:
d={}

In [1572]:
type(d)

dict

In [1576]:
d1={'key' : "sudh"}

In [1577]:
d1

{'key': 'sudh'}

In [1584]:
d2 = {'name' : "sudh", 'age' : 23, "email" : "akgs@gmail.com", "number" : 1234567890, "address" : "bangalore"}

In [1585]:
d2

{'name': 'sudh',
 'age': 23,
 'email': 'akgs@gmail.com',
 'number': 1234567890,
 'address': 'bangalore'}

Keys can be numeric or a string type, but no special characters directlt=y

In [1588]:
d3 = {234 : "sudh", '_wer' : "kumar", 'number' : 1234567890, True: 24345, "address" : "bangalore"}

In [1589]:
d3[234]

'sudh'

In [1590]:
d3[1]

24345

In [1591]:
d3[True]

24345

In [1595]:
d4 = {"name" : "aksh", 234 : "sudh", '_wer' : "kumar", 'name' : "akshat"}

any repeated assignments, will get overwriten by the latest assignment, i.e the rightmost, just like name is now the rightmost

In [1596]:
d4

{'name': 'akshat', 234: 'sudh', '_wer': 'kumar'}

In [1613]:
d5 = {"company" : "pwskills", "course" :["webdev","datascience","datatech","python","java","c","c++"]}

In [1614]:
d5

{'company': 'pwskills',
 'course': ['webdev', 'datascience', 'datatech', 'python', 'java', 'c', 'c++']}

In [1615]:
d5['course']

['webdev', 'datascience', 'datatech', 'python', 'java', 'c', 'c++']

In [1616]:
d5['course'][2]

'datatech'

In [1620]:
d6 = {"number" : [2,4,7,2,3,20], "assignment" : (2,3,4,5,6,7,8,9,10), "launch_date" : {28,12,14}, "class_time":{"web_dev":8,"Data science masters":8, "java with system design":7}}

nested dictionary

In [1621]:
d6

{'number': [2, 4, 7, 2, 3, 20],
 'assignment': (2, 3, 4, 5, 6, 7, 8, 9, 10),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with system design': 7}}

In [1622]:
d6['class_time']

{'web_dev': 8, 'Data science masters': 8, 'java with system design': 7}

In [1623]:
d6['class_time']['java with system design']

7

In [1624]:
d6

{'number': [2, 4, 7, 2, 3, 20],
 'assignment': (2, 3, 4, 5, 6, 7, 8, 9, 10),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with system design': 7}}

In [1626]:
d6['mentor'] = ["sudhanshu","krish","anurag","akshat"]

In [1627]:
d6

{'number': [2, 4, 7, 2, 3, 20],
 'assignment': (2, 3, 4, 5, 6, 7, 8, 9, 10),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with system design': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'akshat']}

In [1628]:
del d6['number']

In [1629]:
d6

{'assignment': (2, 3, 4, 5, 6, 7, 8, 9, 10),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with system design': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'akshat']}

In [1632]:
list(d6.keys())

['assignment', 'launch_date', 'class_time', 'mentor']

In [1633]:
list(d6.values())

[(2, 3, 4, 5, 6, 7, 8, 9, 10),
 {12, 14, 28},
 {'web_dev': 8, 'Data science masters': 8, 'java with system design': 7},
 ['sudhanshu', 'krish', 'anurag', 'akshat']]

In [1634]:
list(d6.items())

[('assignment', (2, 3, 4, 5, 6, 7, 8, 9, 10)),
 ('launch_date', {12, 14, 28}),
 ('class_time',
  {'web_dev': 8, 'Data science masters': 8, 'java with system design': 7}),
 ('mentor', ['sudhanshu', 'krish', 'anurag', 'akshat'])]

In [1636]:
d6.pop('assignment')

(2, 3, 4, 5, 6, 7, 8, 9, 10)

In [1637]:
d6

{'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with system design': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'akshat']}

Control Flow/Statement

In [5]:
marks = int(input("Enter your marks: "))
if marks >= 80 and marks <= 100:
    print("A grade")
elif marks >= 60 and marks < 80:
    print("B grade")
elif marks >= 40 and marks < 60:
    print("C grade")
else:
    print("Fail")

C grade

In [1639]:
10>=80

False

In [2]:
marks = input("enter your marks")

In [3]:
marks

'45'

In [4]:
type(marks)

str

In [6]:
marks=(int(input("enter your marks")))

In [7]:
type(marks)

int

In [29]:
price = int(input("Enter the price of the product: "))
if(price > 1000):
    print("I will not purchase")
elif(price > 500 and price <= 1000):
    print("I will think about it")
else:
    print("I will purchase it")

I will purchase it

In [30]:
l=[1,2,3,4,5,6,7,8,9,10]

In [31]:
l[0]+1

2

In [53]:
l1 = []

In [54]:
l1.append(l[0]+1)

In [55]:
l = [1,2,3,4,5,6,7,8,9,10]

In [56]:
for i in l:
    l1.append(l[i-1]*2)

In [57]:
l1

[2, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [58]:
l = ["sudh", "aksh", "pwskills", "course"]

In [60]:
l1 = []
for i in l:
    print(i)
    l1.append(i.upper())

sudh
aksh
pwskills
course

In [61]:
l1

['SUDH', 'AKSH', 'PWSKILLS', 'COURSE']

In [62]:
l = [1,2,3,4,4,"sudh","aksh",324, 24.87, 45+6j, "abc"]

In [67]:
l1 = []
l2 = []
l3 = []
for i in l:
    if type(i) == int:
        l1.append(i)
    elif type(i) == str:
        l2.append(i)
    else:
        l3.append(i)

print("integers: ", l1)
print("strings: ", l2)
print("others: ", l3)

integers:  [1, 2, 3, 4, 4, 324]
strings:  ['sudh', 'aksh', 'abc']
others:  [24.87, (45+6j)]

In [1]:
print("this is my print function")

this is my print function

In [2]:
l = [324,45,45,45]

In [3]:
len(l)

4

In [4]:
type(l)

list

In [1]:
def test():
    pass

In [8]:
def test1():
    print("this is my first function")
### this has noneType return

In [9]:
test1()

this is my first function

In [10]:
def test2():
    return "this is my very first return"

In [12]:
test2() + " akshat"

'this is my very first return akshat'

In [21]:
def test3():
    return "sudh", 23, 123.35, [3,4,5]

In [22]:
test3()

('sudh', 23, 123.35, [3, 4, 5])

In [23]:
a,b,c,d = test3()

In [24]:
a

'sudh'

In [25]:
b

23

In [26]:
c

123.35

In [27]:
d

[3, 4, 5]

In [28]:
def test4():
    a = 5+6/3
    return a

In [29]:
test4()

7.0

In [30]:
def test5(a,b):
    c = a+b
    return c

In [31]:
test5(5,6)

11

In [32]:
test5(2,4) + 9

15

In [33]:
test5([2,3,4],[4,5,6])

[2, 3, 4, 4, 5, 6]

In [35]:
test5("akshat"," gosain")

'akshat gosain'

In [100]:
l = [1,2,3,4,"aksh", "gosain", [1,2,3,4,5,6]]

In [38]:
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)
    elif type(i) == str:
        l1.append(i.upper())
    else:
        l1.append(i)

In [39]:
l1

[1, 2, 3, 4, 'AKSH', 'GOSAIN', [1, 2, 3, 4, 5, 6]]

In [59]:
l2 = []

In [64]:
def test7(l):
    l2 = []
    for i in l:
        if type(i) == int:
            l2.append(i)
    return l2

In [66]:
test7(l)

[1, 2, 3, 4]

In [69]:
def test8(a):
    """this is my function to extract numerics data from list"""
    l = []
    for i in a : 
        if type(i) == list:
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [68]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [70]:
def test10(a,b):
    return a+b

In [78]:
def test11(*args):
    """*args means it can take variably any number of arguments"""
    return args

In [75]:
type(test11())

tuple

In [76]:
test11(1,2,3)

(1, 2, 3)

In [77]:
test11(1,2,3,"sudh","aksh",[1,2,3,4,4])

(1, 2, 3, 'sudh', 'aksh', [1, 2, 3, 4, 4])

In [79]:
def test12(*aksh):
    return aksh

In [80]:
test12(1,2,13,24)

(1, 2, 13, 24)

In [82]:
def test13(*args,a):
    return args,a

In [84]:
test13(1,2,3,4, a=5)

((1, 2, 3, 4), 5)

In [88]:
def test14(a,b,c=12,d=24):
    """default values preset in function in case no override values are provided"""
    return a,b,c,d

In [86]:
test14(3,4)

(3, 4, 12, 24)

overriding the default values given in function

In [87]:
test14(2,5,c=4,d=9)

(2, 5, 4, 9)

In [89]:
test14(2,5,c=123)

(2, 5, 123, 24)

In [90]:
def test15(**kwargs):
    return kwargs

In [91]:
test15()

{}

In [92]:
type(test(15))

NoneType

In [94]:
type(test15())

dict

a becomes key, its value become value, and so on b,c etc become keys and they have values

In [95]:
test15(a=[1,2,3,4],b="sudh",c=23.45)

{'a': [1, 2, 3, 4], 'b': 'sudh', 'c': 23.45}

In [96]:
range(10)

range(0, 10)

In [97]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [101]:
ll=[]
for i in range(10):
    ll.append(i)

In [102]:
ll

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
def test_fib(n):
    a,b = 0,1
    for i in range(n):
        yield a
        a,b = b, a+b

In [110]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [111]:
s = "aksh"

In [112]:
s1 = iter(s)

In [113]:
type(s1)

str_iterator

In [114]:
next(s1)

'a'

In [115]:
next(s1)

'k'

In [117]:
###internally for loop passes the iterable object to iter function and then uses next function to iterate over the object
for i in s:
    print(i)

a
k
s
h

In [118]:
def test_fib1():
    a,b = 0,1
    while True:
        yield a
        a,b = b, a+b

In [119]:
fib = test_fib1()

In [120]:
for i in range(10):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

In [121]:
type(fib)

generator

In [122]:
def count_test(n):
    count = 1
    while count < n :
        yield count
        count = count + 1

In [123]:
c = count_test(5)

In [124]:
for i in c :
    print(i)

1
2
3
4